/Tools/PSet2YamlConverter/PSet2YamlConverter/PSet2YamlConverter.csproj.user
/Tools/PSet2YamlConverter/PSet2YamlConverter/obj
/Tools/PSet2YamlConverter/PSet2YamlConverter/bin/Debug
/Tools/PSet2YamlConverter/.vs/PSet2YamlConverter/v15
